HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.log
*.gz

/*.xlsm
/*.xlsx
# src/test/resources/*.xlsx
# src/test/resources/*.xlsm
src/test/resources/Installed Software.xlsx
src/test/resources/integration/Installed Software.xlsx
src/test/resources/integration/Installed Software_*
src/test/resources/Installed Software_*
